<div>
    <video-js
        id="{{dom_id}}"
        data-account="{{account_id}}"
        data-player="default"
        data-embed="default"
        data-video-id="{{video_id}}"
        width="320" height="180">
    </video-js>
    <script src="https://players.brightcove.net/{{account_id}}/default_default/index.min.js"></script>
    <script>
        var playerID = "{{dom_id}}";
        videojs.getPlayer(playerID).ready(function () {
            this.pause();
        });
        $(playerID).closest('.image-explorer-hotspot').on('feedback:open', function(evt) { 
            bc(playerID).play(); 
        }).on('feedback:close', function(evt) { 
            bc(playerID).pause(); 
        });

    </script>
</div>